[Desktop Entry]
Name=Systemd Unit Viewer
Comment=View current systemd unts and states, activate, run, etc.
TryExec=/usr/bin/sview
Exec=/usr/bin/sview
Icon=text-x-systemd-unit
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=sview-viewer
Categories=GTK;System;
